body {
    margin: 0;
    padding: 0;
    background-color: #474e5d;
}


/* header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* header slut  */

/* Font         */

h1 {

    font-family: 'Montserrat';
    font-size: 13vw;
    font-weight: 700;
    color: floralwhite;
    margin-top: 6vw;
}

.p_forside {
    color: floralwhite;
    margin-top: -7vw;
    font-size: 1.6vw;
    margin-bottom: 5vw;
}

.p_forside1 {
    color: floralwhite;
    padding-left: 33vw;
}

.p_cv {
    text-decoration: underline
}

.p_cv1 {
    font-size: 1.5vw;
}

h2 {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 400;

}

h3 {
    font-family: 'Montserrat';
    font-size: 7vw;
    font-weight: 700;
    padding: 0 0 0 5vw;
    color: white;
    text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;

}

h4 {
    font-family: 'Montserrat';
    font-size: 3.0rem;
    font-weight: 400;

}

p {
    font-family: 'Montserrat';
    font-size: 2.3vw;
    font-weight: 300;

}

p + p {
    padding: 0 0 10px;
}

a {
    display: inline;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 400;

}

.forside_link {
    color: floralwhite;
}

a.anker {
    top: -200px;
}

li {
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
}

/* Font slut    */

/* burger menu  */

.box {
    background-color: #333;
    width: 70vw;
    height: 1px;
    margin: 75px auto 50px;
    z-index: 10;

}


.navbar {
    position: fixed;
    width: 100vw;
    height: 65px;
    background-color: white;
    margin: -8px 0 0 0;
    padding: 0;
    z-index: 10;

}

.bar_container {
    display: inline-block;
    cursor: pointer;
    z-index: 10;

}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px;
    transition: 0.4s;
    z-index: 10;

}

.change1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    z-index: 10;

}

.change2 {
    opacity: 0;
    z-index: 10;

}

.change3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    z-index: 10;

}

.dropbtn {
    float: left;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    transform-origin: right;
    left: 10vw;
    z-index: 10;

}


/*
.dropbtn:hover,
.dropbtn:focus {
 background-color: #e3e3e3;
}
*/

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;


}

.dropdown-content {
    display: none;
    position: absolute;
    top: 51px;
    left: 9vw;
    background-color: #f9f9f9;
    min-width: 300px;
    max-height: 600px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: 'Montserrat';
    text-transform: uppercase;
    z-index: 10;

}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 10;


}

.dropdown a:hover {
    background-color: #f1f1f1;
    color: red;
    z-index: 10;

}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    z-index: 10;

}

.show {
    display: block;
    z-index: 10;



}

/*Burger menu slut  */

/*Forside           */

.forside {
    width: 100%;
    height: 100vh;
    padding: 15px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;



}

.background_img {
    background-image: url(img/portfolio_forside.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    right: -5%;


}


@media screen and (orientation:portrait) and (min-width: 300px) {
    #billede_mig {
        background-image: url(img/mig.jpg);
    }
    .p_forside {
        font-size: 1.2em;
        margin-top: 100px;
    }

    h1 {
        margin-top: 100px;

    }
    p {
        font-size: 1.2em;
    }
    h3 {
        margin-top: 55px;
    }
    .p_forside1 {
        padding-left: 15vw;
    }
    .p_forside1 {
        color: floralwhite;
        padding-left: 33vw;
    }

    .p_cv {
        text-decoration: underline;
        font-size: 1.5em;
    }
    .p_cv1 {
        font-size: 1em;
    }

    li {
        font-size: 1em;
    }
    .cv_link {
        font-size: 1em;
    }
    .forside_link {
        font-size: 4.5vw;
    }


}

@media screen and (orientation:landscape) and (max-width: 1100px) {
    #billede_mig {
        background-image: url(img/mig.jpg);



    }
    .p_forside {
        font-size: 1.2em;
        margin-top: 100px;
    }

    h1 {
        margin-top: 100px;

    }
    p {
        font-size: 1.2em;
    }
    .p_cv {
        text-decoration: underline;
        font-size: 1.5em;
    }
    .p_cv1 {
        font-size: 1em;
    }

    li {
        font-size: 1em;
    }
    .cv_link {
        font-size: 1em;
    }
    .forside_link {
        font-size: 1.8vw;
    }

}


#tekst_forside {
    text-align: center;

}

#billede_mig {
    width: 15vw;
    height: 14vw;
    background-image: url(img/mig.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /*        filter: grayscale(100%);*/
    border-radius: 50px;
    border-radius: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin: auto;
}

/*Forside   slut    */

/*CV                */

#mit_cv {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    padding: 15px;

}

#tekst_cv {
    width: 100%;
}



cv_tekst1 {
    width: 49%;
    flex-grow: 1;
    flex-basis: 100px;

}

/*CV slut           */

/*Tidslinje*/

* {
    box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */

.left {
    left: 0;
}

/* Place the container to the right */

.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}

/* The actual content */

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media all and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/*Tidslinje slut*/

/*Stilartsite       */

#stilartsite {
    background-color: #7D88A8;
    width: 100%;
    height: 100vh;
    padding: 15px;

}

#flex_stilart {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#tekst_stilart {
    width: 100%;



}

#stilartsite_link {
    width: 49%;
    flex-grow: 1;
    flex-basis: 100px;

}

#stilart_proces {
    width: 49%;
    flex-grow: 1;
    flex-basis: 100px;

}

#stilart_btn {
    border: 2px solid #FFF;
    border-radius: 5px;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    width: auto;
    height: auto;
}


#knap_stilart {
    border: 2px solid #FFF;
    border-radius: 5px;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    width: auto;
    height: auto;

}

#knap_stilart:hover {
    color: #000;
    border: 2px solid #FFF;
    background-color: #FFF;

}



#stilart_btn:hover {
    color: #000;
    border: 2px solid #FFF;
    background-color: #FFF;
}

/*Stilartsite slut  */

/*grundlæggende video*/

#grundlaeggendevideo {
    background-color: #263A5E;
    width: 100%;
    height: 100vh;
    padding: 15px;

}

#flex_video {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


.content_pilotprojekt {
    width: 49%;
    flex-grow: 1;
    flex-basis: 100px;
}

.content_spidsrodenwebsite {
    width: 49%;
    flex-grow: 1;
    flex-basis: 100px;
}

.content_cphdox {
    width: 49%;
    flex-grow: 1;
    flex-basis: 100px;
}

.content_grundvideoproces {
    width: 49%;
    flex-grow: 1;
    flex-basis: 100px;
}

#knap_pilot {
    border: 2px solid #FFF;
    border-radius: 5px;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    width: auto;
    height: auto;

}

#knap_pilot:hover {
    color: #000;
    border: 2px solid #FFF;
    background-color: #FFF;

}

#knap_spidsrodenwebsite {
    border: 2px solid #FFF;
    border-radius: 5px;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    width: auto;
    height: auto;

}

#knap_spidsrodenwebsite:hover {
    color: #000;
    border: 2px solid #FFF;
    background-color: #FFF;

}

#knap_dox {
    border: 2px solid #FFF;
    border-radius: 5px;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    width: auto;
    height: auto;

}

#knap_dox:hover {
    color: #000;
    border: 2px solid #FFF;
    background-color: #FFF;

}

#knap_videoproces {
    border: 2px solid #FFF;
    border-radius: 5px;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    width: auto;
    height: auto;

}

#knap_videoproces:hover {
    color: #000;
    border: 2px solid #FFF;
    background-color: #FFF;

}

/*Grundlæggende video slut*/

/*Animation*/

#animation {
    width: 100%;
    height: 100vh;
    background-color: #5888DE;
    padding: 15px;
}

.flex_animation {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.content_animationalene {
    width: 49%;
    flex-grow: 1;
    flex-basis: 150px;
}

.content_sexogsamfund {
    width: 49%;
    flex-grow: 1;
    flex-basis: 150px;
}

.content_animationproces {
    width: 49%;
    flex-grow: 1;
    flex-basis: 150px;
}

.knap_animation {
    border: 2px solid #FFF;
    border-radius: 5px;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    width: auto;
    height: auto;

}

.knap_animation:hover {
    color: #000;
    border: 2px solid #FFF;
    background-color: #FFF;

}

/*Animation Slut*/

/*Grundlæggende UX*/

#grundlaeggende_ux {
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #9FB7E3;
    padding: 15px;
}

.flex_ux {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.content_box {
    flex-grow: 1;
    flex-basis: 500px;
}

.keapraesentation {
    width: 49%;
    flex-grow: 1;
    flex-basis: 200px;

}

.keadokumentation {
    width: 49%;
    flex-grow: 1;
    flex-basis: 200px;

}

.republikkenpraesentation {
    width: 49%;
    flex-grow: 1;
    flex-basis: 200px;

}

.republikkendokumentation {
    width: 49%;
    flex-grow: 1;
    flex-basis: 200px;
}

.knap_ux {
    border: 2px solid #FFF;
    border-radius: 5px;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    width: auto;
    height: auto;

}

.knap_ux:hover {
    color: #000;
    border: 2px solid #FFF;
    background-color: #FFF;

}


/*Grundlæggende UX slut*/
